div {
	height: 90px;
	width: 190px;
	background-color: yellow;
	padding-top: 10px;
	padding-left: 10px;
	margin: 10px;
	display: inline-block;
	
}
.rojo {
	height: 90px;
	width: 190px;
	background-color: red;
	margin: 10px;
}
body {
	margin: 0px;
	padding: 0px;
}